@model SpeakerListItemViewModel

<div class="speaker col-12 col-lg-3" style="background-image: url('@Model.PhotoUrl');">
    <div class="details">
        <a class="link" href="@Model.DetailsUrl">
            <h3 class="name">@Model.Name</h3>
            <h3 class="position">@Model.Position</h3>
        </a>

        @if (Model.SocialLinks.Count > 0)
        {
            <ul class="speaker-socials">
                @foreach (SocialLink socialLink in Model.SocialLinks)
                {
                    <li><a href="@socialLink.Url" target="_blank" class="link"><i class="@socialLink.CssClass"></i></a></li>
                }
            </ul>
        }
    </div>
</div>