@model WorkshopListItemViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = Model.Name;
}

<div id="workshop-details" class="container-fluid">
    <div class="row">
        <div class="offset-2 col-md-7 details">
            <h1 class="title3">@Model.Name</h1>
            <h2 class="title5 mt-3">@Html.Raw(Model.Description)</h2>
        </div>
        <div class="col-md-3 speakers">
            @if (Model.Speakers.Count > 0)
            {
                <h2 class="title3 title4">Speakers</h2>

                foreach (SpeakerListItemViewModel speaker in Model.Speakers)
                {
                    <div class="photo" style="background-image: url('@speaker.PhotoUrl');"></div>
                    <h3 class="speaker">
                        <a class="link" href="@speaker.DetailsUrl">@speaker.Name</a>
                    </h3>

                    if (speaker.SocialLinks.Count > 0)
                    {
                        <ul class="speaker-socials">
                            @foreach (SocialLink socialLink in speaker.SocialLinks)
                            {
                                <li><a href="@socialLink.Url" class="link"><i class="@socialLink.CssClass"></i></a></li>
                            }
                        </ul>
                    }
                }

                <h3 class="title6">Date & time</h3>
                <h3 class="title7">@Model.Prerequisites</h3>
                <h3 class="title6">Location</h3>
                <h3 class="title7">@Model.Requirements</h3>
                <h3 class="title6">Places Available</h3>
                <h3 class="title7">@Model.PlacesAvailable</h3>
            }
        </div>
    </div>
</div>