@model SpeakerListItemViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = Model.Name;
}

<div id="speaker-details" class="container-fluid">
    <div class="row">
        <div class="offset-2 col-md-2 photo-wrapper">
            <div class="photo" style="background-image: url('@Model.PhotoUrl');"></div>
        </div>
        <div class="col-md-5 details">
            <h1 class="title3">@Model.Name</h1>
            <h2 class="title2">@Model.Position</h2>
            
            @if (Model.SocialLinks.Count > 0)
            {
                <ul class="speaker-socials">
                    @foreach (SocialLink socialLink in Model.SocialLinks)
                    {
                        <li><a href="@socialLink.Url" target="_blank" class="link"><i class="@socialLink.CssClass"></i></a></li>
                    }
                </ul>
            }

            <p class="description mt-3">@Model.Description</p>
        </div>
        <div class="col-md-3 workshops">
            @if (Model.Workshops.Count > 0)
            {
                <h2 class="title3 title4">Workshops</h2>

                foreach (SpeakerWorkshop workshop in Model.Workshops)
                {
                    <h3 class="workshop">
                        <a class="link" href="@workshop.DetailsUrl">@workshop.Name</a>
                    </h3>
                }
            }
        </div>
    </div>
</div>